# Demographic Data Analyzer

In [1]:
import pandas as pd
filepath = "/content/drive/MyDrive/Notebooks/Data Analytics/adult_data.csv"
df = pd.read_csv(filepath)

In [2]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [5]:
print(df['race'].unique())
race_count = df['race'].value_counts()[df['race'].unique()]
print(race_count)

['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

What is the average age of men?

In [12]:

print( df['age'].loc[df['sex'] == 'Male' ].mean() )

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [22]:
print(df['education'].value_counts()['Bachelors'])
print(df.shape[0])
print(100 * df['education'].value_counts()['Bachelors']/df.shape[0])

5355
32561
16.446055096587944

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [41]:
high_level_degrees = ['Bachelors', 'Masters', 'Doctorate']
#print(df.loc[df['education'].isin(high_level_degrees)].loc[df['salary']=='>50K'])

print(100 * df.loc[df['education'].isin(high_level_degrees)].loc[df['salary']=='>50K'].shape[0]/df['education'].value_counts()[high_level_degrees].sum())

46.535843011613935

What percentage of people without advanced education make more than 50K?

In [39]:
df.loc[df['education'].isin(high_level_degrees)].loc[df['salary']=='>50K'].shape[0]

3486

What is the minimum number of hours a person works per week?

In [46]:
import numpy as np
lower_education_degrees = df['education'].unique().tolist().remove(high_level_degrees)

ValueError: ignored

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [56]:
100*df.loc[~df['education'].isin(high_level_degrees)].loc[df['salary']=='>50K'].shape[0]/(df.shape[0]-df['education'].value_counts()[high_level_degrees].sum())

0.173713601914639

What country has the highest percentage of people that earn >50K and what is that percentage?

In [59]:
df.loc[~df['education'].isin(high_level_degrees)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [71]:
min_h = df['hours-per-week'].min()
df.loc[(df['salary']=='>50K') & (df['hours-per-week'] == min_h)].shape[0]

2

In [86]:
print(df.loc[df['salary']=='>50K'].groupby(by='native-country',axis=0)['native-country'].count())

native-country
?                      146
Cambodia                 7
Canada                  39
China                   20
Columbia                 2
Cuba                    25
Dominican-Republic       2
Ecuador                  4
El-Salvador              9
England                 30
France                  12
Germany                 44
Greece                   8
Guatemala                3
Haiti                    4
Honduras                 1
Hong                     6
Hungary                  3
India                   40
Iran                    18
Ireland                  5
Italy                   25
Jamaica                 10
Japan                   24
Laos                     2
Mexico                  33
Nicaragua                2
Peru                     2
Philippines             61
Poland                  12
Portugal                 4
Puerto-Rico             12
Scotland                 3
South                   16
Taiwan                  20
Thailand                 3
Trinadad&Tobago          2
United-States         7171
Vietnam                  5
Yugoslavia               6
Name: native-country, dtype: int64

In [85]:
print(df.groupby(by='native-country',axis=0)['native-country'].count())

native-country
?                               583
Cambodia                         19
Canada                          121
China                            75
Columbia                         59
Cuba                             95
Dominican-Republic               70
Ecuador                          28
El-Salvador                     106
England                          90
France                           29
Germany                         137
Greece                           29
Guatemala                        64
Haiti                            44
Holand-Netherlands                1
Honduras                         13
Hong                             20
Hungary                          13
India                           100
Iran                             43
Ireland                          24
Italy                            73
Jamaica                          81
Japan                            62
Laos                             18
Mexico                          643
Nicaragua                        34
Outlying-US(Guam-USVI-etc)       14
Peru                             31
Philippines                     198
Poland                           60
Portugal                         37
Puerto-Rico                     114
Scotland                         12
South                            80
Taiwan                           51
Thailand                         18
Trinadad&Tobago                  19
United-States                 29170
Vietnam                          67
Yugoslavia                       16
Name: native-country, dtype: int64

In [99]:
percentage_rich = 100 *df.loc[df['salary']=='>50K'].groupby(by='native-country',axis=0)['native-country'].count()/df.groupby(by='native-country',axis=0)['native-country'].count()

print(percentage_rich.idxmax())

Iran

In [100]:
percentage_rich = df.loc[df['salary']=='>50K'].groupby(by='native-country',axis=0)['native-country'].count()

print(percentage_rich.idxmax())

United-States

Identify the most popular occupation for those who earn >50K in India

In [104]:
df.loc[(df['salary']=='>50K') & (df['native-country']=='India')].groupby(by='occupation')['occupation'].count().idxmax()

'Prof-specialty'